body{ 

	font: 'raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform:  uppercase;
	letter-spacing:  .5em;
	top: 15%;
	background: linear-gradient(to right, red , yellow);

}

h1{
	font: 600 2.5em 'Raleway', sans-serif ;
	color: red;
	text-align: center;
	cursor: pointer;
}

h3 {
	font:  500 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	tex-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}	

